<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.BatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Batch">
        <id column="batch_id" property="batchId" />
        <result column="batch_name" property="batchName" />
        <result column="batch_start_time" property="batchStartTime" />
        <result column="batch_end_time" property="batchEndTime" />
        <result column="reg_start_time" property="regStartTime" />
        <result column="reg_end_time" property="regEndTime" />
        <result column="batch_info" property="batchInfo" />
        <result column="batch_created_time" property="batchCreatedTime" />
        <result column="batch_duration" property="batchDuration" />
        <result column="expect_num" property="expectNum" />
        <result column="already_passed_num" property="alreadyPassedNum" />
        <result column="already_confirm_num" property="alreadyConfirmNum" />
    </resultMap>
    <insert id="insertBatch">
        INSERT INTO batch (batch_name, batch_created_time, reg_start_time, reg_end_time, batch_info, batch_start_time, batch_end_time, batch_duration,expect_num)
        VALUES (#{batchName}, #{batchCreatedTime}, #{regStartTime}, #{regEndTime}, #{batchInfo}, #{batchStartTime}, #{batchEndTime}, #{batchDuration},#{expectNum})
    </insert>


    <select id="selectAppointAndFeesPageALL" resultMap="BaseResultMap">
        SELECT * FROM batch
    </select>
    <select id="selectManagePageALL" resultMap="BaseResultMap">
        SELECT * FROM batch
    </select>
    <select id="selectConfirmPageALL" resultMap="BaseResultMap">
        SELECT * FROM batch
    </select>
    <select id="selectBatchDetailsPageALL" resultMap="BaseResultMap">
        SELECT * FROM batch WHERE batch_name = #{batchName}
    </select>
    <select id="selectConfirmPageUnClearALL" resultMap="BaseResultMap">
        SELECT * FROM  batch WHERE batch_name LIKE CONCAT('%', #{batchName}, '%')
    </select>
    <select id="selectManagementPageUnclearFindALL" resultMap="BaseResultMap">
        SELECT * FROM  batch WHERE batch_name LIKE CONCAT('%', #{batchName}, '%')
    </select>
    <select id="countByBatchName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM batch WHERE batch_name = #{batchName}
    </select>
    <select id="getManageVice" resultType="com.example.mybatisplus.model.domain.Batch">
        Select * From batch
    </select>
    <select id="selectCountByBatchNameAndTargetCampus" resultType="java.lang.Integer">
        
    </select>

</mapper>
