<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FacultyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Faculty">
        <id column="faculty_id" property="facultyId" />
        <result column="faculty_name" property="facultyName" />
        <result column="tele" property="tele" />
        <result column="level" property="level" />
        <result column="college_college_id" property="collegeCollegeId" />
    </resultMap>

    <resultMap id="FacultyInfo" type="com.example.mybatisplus.model.domain.Faculty">
        <id column="faculty_id" property="facultyId" />
        <result column="faculty_name" property="facultyName" />
        <association property="college" javaType="com.example.mybatisplus.model.domain.College">
            <result property="collegeName" column="college_name"/>
        </association>
    </resultMap>

    <select id="seeAllRoleOfTheCollege" resultType="com.example.mybatisplus.model.domain.Faculty">
        SELECT * FROM faculty WHERE college_college_id = #{collegeId}
    </select>
    <select id="getInfomationConfirmVice" resultType="com.example.mybatisplus.model.domain.Faculty">
        SELECT * FROM faculty
    </select>
    <select id="findBeforePost" resultMap="FacultyInfo">
        SELECT
            f.faculty_id,
            f.faculty_name,
            c.college_name
        FROM
            faculty f
        JOIN
            college c ON c.college_id = f.college_college_id
        WHERE
            f.faculty_name LIKE CONCAT('%', #{trueFacultyName}, '%')
           OR f.faculty_id LIKE CONCAT('%', #{trueFacultyName}, '%')
    </select>

</mapper>
