<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FacultyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Faculty">
        <id column="faculty_id" property="facultyId" />
        <result column="faculty_name" property="facultyName" />
        <result column="tele" property="tele" />
        <result column="level" property="level" />
        <result column="college_college_id" property="collegeCollegeId" />
    </resultMap>
    <select id="seeAllRoleOfTheCollege" resultType="com.example.mybatisplus.model.domain.Faculty">
        SELECT * FROM faculty
    </select>
    <select id="getInfomationConfirmVice" resultType="com.example.mybatisplus.model.domain.Faculty">
        SELECT * FROM faculty
    </select>

</mapper>
